<!DOCtype html>
<html>
  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <h1 id="capitalizer"></h1>
    <div>
      <form id="form" action="/form" method="get">
        <input type="text" name="name" placeholder="enter your name">
        <input type="submit" value="submit">
      </form>
      <script>
        $(document).ready(function(){
          $("#form").submit(function(event){
            event.preventDefault()
            var $target = $(event.target)
            $.ajax({
              url: '/form',
              type: 'get',
              data: $target.serialize(),
              success: function(response) {
                console.log(response)
                $('#capitalizer').html(response)

              },
              error: function() {
                alert("ERROR!")
              }
            })

          })

        })
      </script>
    </div>
  </body>
</html>

